[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
langchain-community = "*"
black = "*"
python-dotenv = "*"
langchain-ollama = "*"
langchain-anthropic = "*"
langchain-google-genai = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
